.lt_search{
    width: 100%;
    padding: 10px;
}

.lt_search input{
    width: 100%;
    height: 30px;
    border: 1px solid red;
    line-height: 30px;
    background-color: #fff;
    font-size: 12px;
    text-align: left;
    padding: 0 0 0 10px;
    margin: 0;
}

.lt_search a{
    width: 60px;
    height: 30px;
    line-height: 30px;
    background-color: red;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    text-align: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.lt_history{
    width: 100%;
    padding: 0 20px;
    text-align: center;
}

.lt_history > p{
    padding-bottom: 10px;
    border-bottom: 1px solid #DDDDDD;
}

.lt_history section{
    font-size: 12px;
    color: #333;
}

.lt_history section > p{
    width: 100%;
    padding-left: 10px;
    text-align: left;

}

.lt_history section span{
    position: absolute;
    right: 24px;
    padding-top: 3px;
}